ul {
  list-style-type: none;
}
#this-one {
  list-style-image: url(www.https://fillmurray.com);
  list-style-position: inside;
}
* {
  border: thin black straight;
}
td {
  border: thin red solid;
}
table td {
  padding: 10px;
}
table {
  empty-cells: hide;
}
input:focus {
  outline: 2px solid red;

}
