* {
  border: thin solid red;
  font-family: garamond;
}

#bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.total {
  font-weight:bold;
}
td {
  min-width: 80px;
  padding: 20px;
}
tr:nth-child(even) {
  background-color: #CCC;
}
/*this is a pseudo-selector, used to modifiy an existing selector it selects every even numbered thing of this type of object
nth-child(odd) selects every odd-numbered thing
nth-child(3n) selects 3rd, 6th, 9th */ 
