* {
  font-family: garamond;
}

#bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.total {
  font-weight:bold;
}
table {
  border: solid #CCC;
  spacing: condensed;
}
tr:nth-child(even) {
  background-color: rgba(255, 0, 0, 0.2);
}
tr:nth-child(odd) {
  background-color: rgba(0, 255, 255, 0.2);
}
td {
  border: solid 1px #CCC;
}
th {
  border: solid #DDD;
}
#theForm {
  margin-top: 20px;
}
.footer {
  font-weight: bold;
  font-style: italic;
}
#salmon {
  position: absolute;
  max-width: 80%;
  opacity: .7;
  z-index: -1;
}
#billboard {
  padding-top: 15%;
  text-align: center;
}
.highlights {
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
}
li.highlights {
  border: solid #GGG 1px;
}
thead {
  color: white;
  background-color: rgba(155, 0, 0, 1.5);
}
form.tr {
  background-color: rgba(245, 245, 245, 0.1);
}
