* {
  font-family: garamond;
}

#bg {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.total {
  font-weight:bold;
}
table {
  border: solid #CCC;
}
td {
  border: solid 1px #CCC;
}
th {
  border: solid #DDD;
}
#theForm {
  margin-top: 20px;
}
.footer {
  font-weight: bold;
  font-style: italic;
}
